<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slienceme.project_shop.mapper.AuctionsMapper">
    <resultMap id="BaseResultMap" type="xyz.slienceme.project_shop.dto.Auctions">
        <id column="auctions_id" jdbcType="INTEGER" property="auctionsId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="auctions_name" jdbcType="VARCHAR" property="auctionsName"/>
        <result column="start" jdbcType="TIMESTAMP" property="start"/>
        <result column="end" jdbcType="TIMESTAMP" property="end"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="CREATED_BY" jdbcType="INTEGER" property="createdBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        auctions_id, goods_id
        , auctions_name, start,
        end, is_delete, CREATED_TIME, CREATED_BY
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from auctions
        where auctions_id = #{auctionsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from auctions
        where auctions_id = #{auctionsId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="xyz.slienceme.project_shop.dto.Auctions">
        insert into auctions (auctions_id, goods_id, auctions_name, start,
                              end, is_delete, CREATED_TIME,
                              CREATED_BY)
        values (#{auctionsId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{auctionsName,jdbcType=VARCHAR}, #{start,jdbcType=TIMESTAMP},
                #{end,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP},
                #{createdBy,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="xyz.slienceme.project_shop.dto.Auctions">
        insert into auctions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auctionsId != null">
                auctions_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="auctionsName != null">
                auctions_name,
            </if>
            <if test="start != null">
                start,
            </if>
            <if test="end != null">
                end,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auctionsId != null">
                #{auctionsId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="auctionsName != null">
                #{auctionsName,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                #{start,jdbcType=TIMESTAMP},
            </if>
            <if test="end != null">
                #{end,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.slienceme.project_shop.dto.Auctions">
        update auctions
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="auctionsName != null">
                auctions_name = #{auctionsName,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                start = #{start,jdbcType=TIMESTAMP},
            </if>
            <if test="end != null">
                end = #{end,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy,jdbcType=INTEGER},
            </if>
        </set>
        where auctions_id = #{auctionsId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.slienceme.project_shop.dto.Auctions">
        update auctions
        set auctions_name = #{auctionsName,jdbcType=VARCHAR},
            goods_id = #{goodsId,jdbcType=INTEGER},
            start         = #{start,jdbcType=TIMESTAMP},
            end           = #{end,jdbcType=TIMESTAMP},
            is_delete     = #{isDelete,jdbcType=INTEGER},
            CREATED_TIME  = #{createdTime,jdbcType=TIMESTAMP},
            CREATED_BY    = #{createdBy,jdbcType=INTEGER}
        where auctions_id = #{auctionsId,jdbcType=INTEGER}
    </update>
    <!-- 查询竞拍场次列表-->
    <!-- 返回值类型:  List<HashMap<String, Object>> selectList -->
    <!-- 参数: -->
    <!--  @param keyword 关键词   -->
    <select id="selectList" resultType="java.util.HashMap">
        SELECT a.auctions_id as auctionsId,
        a.goods_id as goodsId,
        g.goods_name as goodName,
        a.auctions_name as auctionsName,
        DATE_FORMAT(a.start, '%Y-%m-%d %H:%i:%s') startTime,
        DATE_FORMAT(a.end, '%Y-%m-%d %H:%i:%s') endTime,
        DATE_FORMAT(a.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
        FROM auctions a
        left join goods g on a.goods_id = g.goods_id
        where
        a.is_delete=0
        <if test="keyword!=null and keyword!=''">
            and CONCAT(a.auctions_name) like concat('%',#{keyword},'%')
        </if>
        order by a.CREATED_TIME desc
    </select>
    <!-- 查询未结束场次列表-->
    <!-- 返回值类型:  List<HashMap<String, Object>> selectUndoneList -->
    <!-- 参数: -->
    <!--  @param nowTime 当前时间   -->
    <select id="selectUndoneList" resultType="java.util.HashMap">
        SELECT a.auctions_id as auctionsId,
        a.goods_id as goodsId,
        g.goods_name as goodName,
        a.auctions_name as auctionsName,
        DATE_FORMAT(a.start, '%Y-%m-%d %H:%i:%s') startTime,
        DATE_FORMAT(a.end, '%Y-%m-%d %H:%i:%s') endTime,
        DATE_FORMAT(a.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
        FROM auctions a
        left join goods g on a.goods_id = g.goods_id
        where
        a.is_delete=0 and a.end &lt;= #{nowTime}
        order by a.CREATED_TIME desc
    </select>
</mapper>