<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slienceme.project_shop.mapper.ChatMapper">
    <resultMap id="BaseResultMap" type="xyz.slienceme.project_shop.dto.Chat">
        <id column="chat_id" jdbcType="INTEGER" property="chatId"/>
        <result column="sell_user" jdbcType="INTEGER" property="sellUser"/>
        <result column="buy_user" jdbcType="INTEGER" property="buyUser"/>
        <result column="msg_type" jdbcType="INTEGER" property="msgType"/>
        <result column="msg_content" jdbcType="VARCHAR" property="msgContent"/>
        <result column="read_status_sell" jdbcType="INTEGER" property="readStatusSell"/>
        <result column="read_status_buy" jdbcType="INTEGER" property="readStatusBuy"/>
        <result column="other" jdbcType="VARCHAR" property="other"/>
        <result column="is_delete_buy" jdbcType="INTEGER" property="isDeleteBuy"/>
        <result column="is_delete_sell" jdbcType="INTEGER" property="isDeleteSell"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        chat_id
        , sell_user, buy_user, msg_type, msg_content, read_status_sell, read_status_buy,
    other, is_delete_buy, is_delete_sell, CREATED_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat
        where chat_id = #{chatId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from chat
        where chat_id = #{chatId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="xyz.slienceme.project_shop.dto.Chat">
        insert into chat (chat_id, sell_user, buy_user,
                          msg_type, msg_content, read_status_sell,
                          read_status_buy, other, is_delete_buy,
                          is_delete_sell, CREATED_TIME)
        values (#{chatId,jdbcType=INTEGER}, #{sellUser,jdbcType=INTEGER}, #{buyUser,jdbcType=INTEGER},
                #{msgType,jdbcType=INTEGER}, #{msgContent,jdbcType=VARCHAR}, #{readStatusSell,jdbcType=INTEGER},
                #{readStatusBuy,jdbcType=INTEGER}, #{other,jdbcType=VARCHAR}, #{isDeleteBuy,jdbcType=INTEGER},
                #{isDeleteSell,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="xyz.slienceme.project_shop.dto.Chat">
        insert into chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chatId != null">
                chat_id,
            </if>
            <if test="sellUser != null">
                sell_user,
            </if>
            <if test="buyUser != null">
                buy_user,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="msgContent != null">
                msg_content,
            </if>
            <if test="readStatusSell != null">
                read_status_sell,
            </if>
            <if test="readStatusBuy != null">
                read_status_buy,
            </if>
            <if test="other != null">
                other,
            </if>
            <if test="isDeleteBuy != null">
                is_delete_buy,
            </if>
            <if test="isDeleteSell != null">
                is_delete_sell,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chatId != null">
                #{chatId,jdbcType=INTEGER},
            </if>
            <if test="sellUser != null">
                #{sellUser,jdbcType=INTEGER},
            </if>
            <if test="buyUser != null">
                #{buyUser,jdbcType=INTEGER},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=INTEGER},
            </if>
            <if test="msgContent != null">
                #{msgContent,jdbcType=VARCHAR},
            </if>
            <if test="readStatusSell != null">
                #{readStatusSell,jdbcType=INTEGER},
            </if>
            <if test="readStatusBuy != null">
                #{readStatusBuy,jdbcType=INTEGER},
            </if>
            <if test="other != null">
                #{other,jdbcType=VARCHAR},
            </if>
            <if test="isDeleteBuy != null">
                #{isDeleteBuy,jdbcType=INTEGER},
            </if>
            <if test="isDeleteSell != null">
                #{isDeleteSell,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.slienceme.project_shop.dto.Chat">
        update chat
        <set>
            <if test="sellUser != null">
                sell_user = #{sellUser,jdbcType=INTEGER},
            </if>
            <if test="buyUser != null">
                buy_user = #{buyUser,jdbcType=INTEGER},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=INTEGER},
            </if>
            <if test="msgContent != null">
                msg_content = #{msgContent,jdbcType=VARCHAR},
            </if>
            <if test="readStatusSell != null">
                read_status_sell = #{readStatusSell,jdbcType=INTEGER},
            </if>
            <if test="readStatusBuy != null">
                read_status_buy = #{readStatusBuy,jdbcType=INTEGER},
            </if>
            <if test="other != null">
                other = #{other,jdbcType=VARCHAR},
            </if>
            <if test="isDeleteBuy != null">
                is_delete_buy = #{isDeleteBuy,jdbcType=INTEGER},
            </if>
            <if test="isDeleteSell != null">
                is_delete_sell = #{isDeleteSell,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where chat_id = #{chatId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.slienceme.project_shop.dto.Chat">
        update chat
        set sell_user        = #{sellUser,jdbcType=INTEGER},
            buy_user         = #{buyUser,jdbcType=INTEGER},
            msg_type         = #{msgType,jdbcType=INTEGER},
            msg_content      = #{msgContent,jdbcType=VARCHAR},
            read_status_sell = #{readStatusSell,jdbcType=INTEGER},
            read_status_buy  = #{readStatusBuy,jdbcType=INTEGER},
            other            = #{other,jdbcType=VARCHAR},
            is_delete_buy    = #{isDeleteBuy,jdbcType=INTEGER},
            is_delete_sell   = #{isDeleteSell,jdbcType=INTEGER},
            CREATED_TIME     = #{createdTime,jdbcType=TIMESTAMP}
        where chat_id = #{chatId,jdbcType=INTEGER}
    </update>
    <select id="selectList" resultType="java.util.HashMap">
        SELECT c.chat_id as chatId,
        c.sell_user as sellUser,
        u.user_name as sellName,
        c.buy_user as buyUser,
        v.user_name as buyName,
        c.msg_type as msgType,
        c.msg_content as msgContent,
        c.read_status_sell as readStatusSell,
        c.read_status_buy as readStatusBuy,
        c.other as other,
        c.is_delete_buy as isDeleteBuy,
        c.is_delete_sell as isDeleteSell,
        DATE_FORMAT(c.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
        FROM chat c left join user u on c.sell_user=u.user_id
        left join user v on c.buy_user=v.user_id
        where
        1=1
        <if test="sellUser!=null and sellUser!=''">
            and c.sell_user=#{sellUser}
        </if>
        <if test="buyUser!=null and buyUser!=''">
            and c.buy_user=#{buyUser}
        </if>
        <if test="msgType!=null and msgType!=''">
            and c.msg_type=#{msgType}
        </if>
        <if test="readStatusSell!=null and readStatusSell!=''">
            and c.read_status_sell=#{readStatusSell}
        </if>
        <if test="readStatusBuy!=null and readStatusBuy!=''">
            and c.read_status_buy=#{readStatusBuy}
        </if>
        <if test="isDeleteBuy!=null and isDeleteBuy!=''">
            and c.is_delete_buy=#{isDeleteBuy}
        </if>
        <if test="isDeleteSell!=null and isDeleteSell!=''">
            and c.is_delete_sell=#{isDeleteSell}
        </if>
        order by c.CREATED_TIME
    </select>
</mapper>