<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slienceme.project_shop.mapper.ComplaintStatusMapper">
  <resultMap id="BaseResultMap" type="xyz.slienceme.project_shop.dto.ComplaintStatus">
    <id column="complaint_status_id" jdbcType="INTEGER" property="complaintStatusId" />
    <result column="complaint_status_name" jdbcType="VARCHAR" property="complaintStatusName" />
  </resultMap>
  <sql id="Base_Column_List">
    complaint_status_id, complaint_status_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from complaint_status
    where complaint_status_id = #{complaintStatusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from complaint_status
    where complaint_status_id = #{complaintStatusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.slienceme.project_shop.dto.ComplaintStatus">
    insert into complaint_status (complaint_status_id, complaint_status_name
      )
    values (#{complaintStatusId,jdbcType=INTEGER}, #{complaintStatusName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.slienceme.project_shop.dto.ComplaintStatus">
    insert into complaint_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="complaintStatusId != null">
        complaint_status_id,
      </if>
      <if test="complaintStatusName != null">
        complaint_status_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="complaintStatusId != null">
        #{complaintStatusId,jdbcType=INTEGER},
      </if>
      <if test="complaintStatusName != null">
        #{complaintStatusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.slienceme.project_shop.dto.ComplaintStatus">
    update complaint_status
    <set>
      <if test="complaintStatusName != null">
        complaint_status_name = #{complaintStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    where complaint_status_id = #{complaintStatusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.slienceme.project_shop.dto.ComplaintStatus">
    update complaint_status
    set complaint_status_name = #{complaintStatusName,jdbcType=VARCHAR}
    where complaint_status_id = #{complaintStatusId,jdbcType=INTEGER}
  </update>
  <!-- 查询投诉状态类型列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectList -->
  <select id="selectList" resultType="java.util.HashMap">
    SELECT cs.complaint_status_id as complaintStatusId,
    cs.complaint_status_name as complaintStatusName
    FROM complaint_status cs
  </select>
</mapper>