<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slienceme.project_shop.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="xyz.slienceme.project_shop.dto.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_info" jdbcType="VARCHAR" property="goodsInfo" />
    <result column="state_on" jdbcType="INTEGER" property="stateOn" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_img_id" jdbcType="INTEGER" property="goodsImgId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, goods_name,  goods_info, state_on, category_id,
    user_id, goods_img_id, is_delete, CREATED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.slienceme.project_shop.dto.Goods">
    insert into goods (goods_id, goods_name, goods_info, state_on,
      category_id, user_id, goods_img_id, 
      is_delete, CREATED_TIME)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsInfo,jdbcType=VARCHAR}, #{stateOn,jdbcType=INTEGER},
      #{categoryId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{goodsImgId,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.slienceme.project_shop.dto.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsInfo != null">
        goods_info,
      </if>
      <if test="stateOn != null">
        state_on,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsImgId != null">
        goods_img_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="stateOn != null">
        #{stateOn,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsImgId != null">
        #{goodsImgId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.slienceme.project_shop.dto.Goods">
    update goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        goods_info = #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="stateOn != null">
        state_on = #{stateOn,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsImgId != null">
        goods_img_id = #{goodsImgId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.slienceme.project_shop.dto.Goods">
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      state_on = #{stateOn,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      goods_img_id = #{goodsImgId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <!-- 查询商品列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectList -->
  <!-- 参数: -->
  <!--  @param keyword 关键词   -->
  <select id="selectList" resultType="java.util.HashMap">
    SELECT g.goods_id as goodsId,
    g.goods_name as goodsName,
    g.goods_info as goodsInfo,
    g.state_on as stateOn,
    g.category_id as categoryId,
    c.category_name as categoryName,
    g.user_id as userId,
    u.user_name as userName,
    g.goods_img_id as goodsImgId,
    i.image_url as imageUrl,
    DATE_FORMAT(g.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
    FROM goods g left join category c on g.category_id=c.category_id
    left join user u on g.user_id=u.user_id
    left join image i on g.goods_img_id=i.image_id
    where
    g.is_delete=0
    <if test="keyword!=null and keyword!=''">
      and CONCAT(g.goods_name) like concat('%',#{keyword},'%')
    </if>
    order by g.CREATED_TIME desc
  </select>
  <!-- 查询上架商品列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectOnList -->
  <!-- 参数: -->
  <!--  @param keyword 关键词   -->
  <select id="selectOnList" resultType="java.util.HashMap">
    SELECT g.goods_id as goodsId,
    g.goods_name as goodsName,
    g.goods_info as goodsInfo,
    g.state_on as stateOn,
    g.category_id as categoryId,
    c.category_name as categoryName,
    g.user_id as userId,
    u.user_name as userName,
    g.goods_img_id as goodsImgId,
    i.image_url as imageUrl,
    DATE_FORMAT(g.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
    FROM goods g left join category c on g.category_id=c.category_id
    left join user u on g.user_id=u.user_id
    left join image i on g.goods_img_id=i.image_id
    where
    g.is_delete=0 and g.state_on=1
    <if test="keyword!=null and keyword!=''">
      and CONCAT(g.goods_name) like concat('%',#{keyword},'%')
    </if>
    order by g.CREATED_TIME desc
  </select>
  <!-- 查询未上架商品列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectNoList -->
  <!-- 参数: -->
  <!--  @param keyword 关键词   -->
  <select id="selectNoList" resultType="java.util.HashMap">
    SELECT g.goods_id as goodsId,
    g.goods_name as goodsName,
    g.goods_info as goodsInfo,
    g.state_on as stateOn,
    g.category_id as categoryId,
    c.category_name as categoryName,
    g.user_id as userId,
    u.user_name as userName,
    g.goods_img_id as goodsImgId,
    i.image_url as imageUrl,
    DATE_FORMAT(g.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
    FROM goods g left join category c on g.category_id=c.category_id
    left join user u on g.user_id=u.user_id
    left join image i on g.goods_img_id=i.image_id
    where
    g.is_delete=0 and g.state_on=0
    <if test="keyword!=null and keyword!=''">
      and CONCAT(g.goods_name) like concat('%',#{keyword},'%')
    </if>
    order by g.CREATED_TIME desc
  </select>
  <!-- 查询已售商品列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectDoneList -->
  <!-- 参数: -->
  <!--  @param keyword 关键词   -->
  <select id="selectDoneList" resultType="java.util.HashMap">
    SELECT g.goods_id as goodsId,
    g.goods_name as goodsName,
    g.goods_info as goodsInfo,
    g.state_on as stateOn,
    g.category_id as categoryId,
    c.category_name as categoryName,
    g.user_id as userId,
    u.user_name as userName,
    g.goods_img_id as goodsImgId,
    i.image_url as imageUrl,
    DATE_FORMAT(g.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
    FROM goods g left join category c on g.category_id=c.category_id
    left join user u on g.user_id=u.user_id
    left join image i on g.goods_img_id=i.image_id
    where
    g.is_delete=0 and g.state_on=2
    <if test="keyword!=null and keyword!=''">
      and CONCAT(g.goods_name) like concat('%',#{keyword},'%')
    </if>
    order by g.CREATED_TIME desc
  </select>

  <!-- 查询已售商品列表-->
  <!-- 返回值类型:  List<HashMap<String, Object>> selectDoneList -->
  <!-- 参数: -->
  <!--  @param keyword 关键词   -->
  <select id="selectPawnList" resultType="java.util.HashMap">
    SELECT g.goods_id as goodsId,
    g.goods_name as goodsName,
    g.goods_info as goodsInfo,
    g.state_on as stateOn,
    g.category_id as categoryId,
    c.category_name as categoryName,
    g.user_id as userId,
    u.user_name as userName,
    g.goods_img_id as goodsImgId,
    i.image_url as imageUrl,
    DATE_FORMAT(g.CREATED_TIME, '%Y-%m-%d %H:%i:%s') createdTime
    FROM goods g left join category c on g.category_id=c.category_id
    left join user u on g.user_id=u.user_id
    left join image i on g.goods_img_id=i.image_id
    where
    g.is_delete=0 and g.state_on=3
    <if test="keyword!=null and keyword!=''">
      and CONCAT(g.goods_name) like concat('%',#{keyword},'%')
    </if>
    order by g.CREATED_TIME desc
  </select>
</mapper>